<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="row post-panel">
    {{#each posts}}
        <div class="col-3 card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/06/18/17/42/image-1465348_960_720.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{this.subtitle}}</h6>
                <p class="card-text">{{this.body}}</p>
            </div>
        </div>
    {{/each}}
</div>